QWidget {
    background-color: #293241;
    color: #edf2f4;
}

QPushButton {
    background-color: #4a4e69;
    border-radius: 10px;
    padding: 10px 5px;
}

QLabel {
    font-size: 18px;
}

QLineEdit {
    background-color: #364156;
}

.btn-primary {
    background-color: #1b9aaa;
    font-size: 20px;
    font-weight: bold;
}